<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <h1>Home Page</h1>
    <h3> <%= 1+2 %> </h3>
    <h3> <%= "akash Verma".toUpperCase() %> </h3>
    <h3> <%= ["namaste","hello","Har har Mahadev"][2].toUpperCase() %> </h3>


    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum necessitatibus quod eius eaque?
        Ipsa doloremque, sapiente minus, quis impedit quos maxime ducimus blanditiis ab unde voluptate quidem fugiat sequi dicta. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Accusamus veritatis quaerat recusandae! Totam autem, quaerat odit molestias qui quis optio magnam cupiditate, debitis laudantium laborum, dolor voluptatibus magni necessitatibus labore.</p>
    <button>Submit</button>
    
</body>
</html>